{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!--Title-->
    <title> Dragonlady Loaning System </title>

    <!--IP-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Font Style-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'CSS/1_Homepage_Styles.css' %}">
</head>

<body>
    <header>
        <!-- Navigation Bar Section -->
        <nav class="navbar">
            <div class="navbar__container">
                <!-- Dragonlady Logo // Homepage -->
                <a href="1_Homepage.html" id="navbar__logo">DRAGONLADY</a>

                <!-- Mobile Menu // Hamburger -->
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>

                <!-- Navigation Menu Links -->
                <ul class="navbar__menu">
                    <li class="navbar__item"><a href="1_Homepage.html" class="active" id="home-page">Home</a></li>
                    <li class="navbar__item"><a href="2_About.html" id="about-page">About</a></li>
                    <li class="navbar__item"><a href="3_Login.html" id="login-page">Login</a></li>
                    <li class="navbar__item"><a href="4_Register.html" id="register-page">Register</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- First Section -->
    <div class="first" id="first-section">
        <div class="first__container">
            <!--Dragonlady Logo-->
            <img class="first__heading" src="{% static 'MEDIA/Assets/Dragonlady_Logo.svg' %}" alt="">

            <br>

            <p class="first__description">
                Take your loaning life online.
            </p>
            <br>
            <p class="first__description1">
                Your DLS account will be a one-stop-site for tracking, 
                applying loan, borrowing money, paying debts, and much more.
            </p>
        </div>
    </div>

    <!-- Second Section -->
    <div class="second" id="second-section">
        <div class="second__container">
            <div class="second__wrapper">
                <!--Fast Transaction-->
                <div class="second__card">
                    <img src="{% static 'MEDIA/Assets/1.1_Fast_Transaction.svg' %}" alt="">
                    <br>
                    <h2>Fast Transaction</h2>
                    <p>
                        Our web application allows you to experience
                        smooth transaction wherever you are in the Philippines.
                    </p>
                </div>

                <!--New & Improved Mode of Payment-->
                <div class="second__card">
                    <img src="{% static 'MEDIA/Assets/1.1_Payment_Mode.svg' %}" alt="">
                    <br>
                    <h2>New & Improved Mode of Payment</h2>
                    <p>
                        Online payments are now available!
                        Also, you have an option on how do you want your loan to be received.
                    </p>
                </div>

                <!--Low Interest-->
                <div class="second__card">
                    <img src="{% static 'MEDIA/Assets/1.1_Low_Interest.svg' %}" alt="">
                    <br>
                    <h2>Low Interest</h2>
                    <p>
                        It is very affordable because we do not have high interest rates and
                        we do not have hidden charges!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
    <div class="footer__container">
        <!--Footer List-->
        <div class="footer__all">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="Footer_Contact_Us.html">Contact Us</a></li>
                <li class="list-inline-item"><a href="Footer_FAQs.html">FAQs</a></li>
                <li class="list-inline-item"><a href="Footer_Sitemap.html">Sitemap</a></li>
                <li class="list-inline-item"><a href="Footer_Privacy_Policy.html">Privacy Policy</a></li>
                <li class="list-inline-item"><a href="Footer_Terms_and_Conditions.html">Terms and Conditions</a></li>
                <li class="list-inline-item"><a href="Footer_Support.html">Support</a></li>
            </ul>
        </div>

        <div class="footer__all">
            <p class="website__rights">
                Dragonlady Loaning System is regulated by the Bangko Sentral ng Pilipinas
                with contact number (+632) 8708-7087 and with email address dragonlady@bsp.gov.ph.
                For concerns, contact us thru our 24x7 hotline (+632) 8631-8000 or email
                us via callcenter@dlls.com.ph.
            </p>
        </div>

        <!--Logo and Rights-->
        <section class="logo__rights">
            <div class="logo__rights--wrap">
                <!--Logo-->
                <div class="footer__logo">
                    <a id="footer__logo">DRAGONLADY</a>
                </div>
                <!--Rights-->
                <p class="website__rights1">
                    Dragonlady Loaning System © 2020. All Rights Reserved.
                </p>
            </div>
        </section>
    </div>

    <script src="{% static 'JS/1_Homepage_Javascript.js' %}"></script>
</body>

</html>