{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!--Title-->
    <title> Dragonlady Loaning System </title>

    <!--IP-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Font Style-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'CSS/Footer_Privacy_Policy_Styles.css' %}">
</head>

<body>
    <header>
        <!-- Navigation Bar Section -->
        <nav class="navbar">
            <div class="navbar__container">
                <!-- Dragonlady Logo // Homepage -->
                <a href="1_Homepage.html" id="navbar__logo">DRAGONLADY</a>

                <!-- Mobile Menu // Hamburger -->
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>

                <!-- Navigation Menu Links -->
                <ul class="navbar__menu">
                    <li class="navbar__item"><a href="1_Homepage.html" id="home-page">Home</a></li>
                    <li class="navbar__item"><a href="2_About.html" id="about-page">About</a></li>
                    <li class="navbar__item"><a href="3_Login.html" id="login-page">Login</a></li>
                    <li class="navbar__item"><a href="4_Register.html" id="register-page">Register</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- First Section -->
    <div class="first" id="first-section">
        <div class="first__container">
            <!--Privacy Policy-->
            <img class="first__heading" src="{% static 'MEDIA/Assets/Footer_Privacy_Policy.svg' %}" alt="">

            <br>
            
            <p class="first__description">
                Privacy Policy
            </p>

            <!--Descriptions-->
            <div class="first__item-box">
                <hr>
                <br>

                <h2>
                    Dragonlady Loaning System, Data Privacy Statement
                </h2>

                <br >

                <p>
                    Dragonlady is committed to protecting your privacy as our client, and even as a visitor to this website.
                    As your trusted loaning partner, the confidentiality of your information remains a top priority.
                    We shall exert all reasonable efforts to protect it against unauthorized use or disclosure. 
                </p>

                <br>

                <h2>
                    How we collect information?
                </h2>

                <br>
                
                <h2 class="tab">
                    A. We may manually or automatically collect personal data when you:
                    <p class="tab">
                        1. Visit our website - We may use web analytic tools, including those of third parties, that use cookies to collect
                        anonymous information and data generated from your activities when you visit the Dragonlady website
                        (e.g. perform searches, access internal links).
                        <br>
                        2. Enter into a transaction with us.
                        <br>
                        3. Submit your application forms.
                        <br>
                        4. File complaints, inquiries, or requests.
                    </p>

                    <br>

                    B. Types of personal information that we may collect:
                    <p class="tab">
                        1. Your name and other particulars such as, but not lmited to, contact details, address, and birthdate.
                        <br>
                        2. Details and photocopiess of your government or other IDs.
                        <br>
                        3. Images captured via CCTVV and other similar recording devices when visiting our offices, and/or using our facilities.
                        <br>
                        4. Voice recordings of our conversationss with you.
                        <br>
                        5. Information about your transactions with third parties, including merchants and utility companies.
                        <br>
                        6. Non-personal information provided by the electronic device you are using such as the IP address, operating system, browser
                        type and version, and other machine-related identifiers.
                        <br>
                        7. Specimen signatures.
                    </p>

                    <br>

                    C. How your personal data may be used, stored, and shared:
                    <p class="tab">
                        1. Legal. For legitimate purposes.
                        <br>
                        2. Transactions. To provide services to you or implement transactions which you request, allow, or authorize.
                        <br>
                        3. Policies and Obligations. To comply with tthe Dragonlady Group's internal policies and its reporting obligations to governmental
                        authorities under applicabl laws.
                        <br>
                        4. Research. When we conduct studies and researches such as automatic and manual profile analysis, behavioral modeling, for the purpose
                        of revieweing, developing and improving our services.
                        <br>
                        5. Promotion. When we reach out to you regarding sservices information, including offers, promotions, discounts, rewards; and for perosnalizing
                        your experience with our various touchpoints such as branches, call center, telemarketing, email, messaging and other channels.
                        <br>
                        6. As necessitied by third parties or members of the Dragonlady Group:
                            <p class="tab1">
                                6.1. To support us in delivering our services to you.
                                <br>
                                6.2. To comply with existing laws, rules, and legal processes.
                                <br>
                                6.3. To implement our policies and terms of use including, among others, our rights as lender to client availing of our loan and other credit
                                or such other applicable policies with respect to the products and services that we provide.
                                <br>
                                6.4. To address fraud, security or technical issues.
                                <br>
                                6.5. To protect our rights, interests, property or security, and that of our clients and third parties.
                            </p>
                    </p>

                    <br>

                    D. Emails will not be used to collect personal data.
                    <p class="tab">
                        Emails are not entirely safe. We will not use this pplatform to obtain confidential information from you such as your accountt numbers, passwords, and
                        credit card numbers. An authorized loan representative will get in touch with you should we require confidential or other types of information. We will
                        never ask you to confirm any such information by clicking on a link in an email.
                    </p>

                    <br>

                    E. Your rights under applicable laws.
                    <p class="tab">
                        Subject to the requirements, conditions, and exemptions under the applicable law and Data Privacy Laws, and payment of reasonable fees, you are entitled
                        to the following rights:
                        <p class="tab1">
                            1. To access your personal data, including:
                            <p class="tab2">
                                1.1. The sources from which they were obtained.
                                <br>
                                1.2. The manner by which such data were processed.
                                <br>
                                1.3. The reasons for the disclosure of your personal data to recipients, including the names and addresses of recipients thereof.
                                <br>
                                1.4. The information in automated processes where the data will or likely to be made as the sole basis for any decision significcantly affecting or
                                will affect you.
                                <br>
                                1.5. The data when your personal daata was last accessed and modified.
                                <p class="tab3">
                                    1.5.a. To dispute any inaccuracy or error in your personal data and require the Dragonlady Group to correct or update the same.
                                    <br>
                                    1.5.b. To obtain a copy of your personal data in an electronic or structured format for your further use.
                                    <br>
                                    1.5.c. To suspend, withdraw, or order the blocking, removal, or destruction of your personal data from the Dragonlady Group's system,
                                    providded such action is not critical nor required by applicable laws and regulation to maintain the services that you availed with us.
                                    <br>
                                    1.5.d. To file a complaint with the National Privacy Commission.
                                </p>
                            </p>
                        </p>
                    </p>
                    <p class="tab">
                        For a complete reference of your rights under the Data Privacy Act, you may access the National Privacy Commission website at www.privacy.gov.ph.
                    </p>

                    <br>
                    
                    F. Changes to our Data Privacy Statement.
                    <p class="tab">
                        We may modify this data Privacy Statement from time to time to align with relevant laws and regulations and the Dragonlady Group's policies and procedures
                        as applicable. All updadtes will be posted in our website.
                    </p>

                    <br>
                    <hr>
                    <br>

                    <p class="italics">
                        Dragonlady Loaning System is bound by, and shall comply with, the Data Privacy Act of 2012 ("Republic Act No. 10173"), other applicable Philippine laws on data privacy,
                        as well as rules and regulations issued by the Bangko Sentral ng Pilipinas, National Privacy Commission and other regulatory bodies, that uphold data privacy.
                        <br>
                        <br>
                        Third Data Privacy Statement has been updated as of December 1, 2021.
                    </p>
                </h2>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
    <div class="footer__container">
        <!--Footer List-->
        <div class="footer__all">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="Footer_Contact_Us.html" >Contact Us</a></li>
                <li class="list-inline-item"><a href="Footer_FAQs.html">FAQs</a></li>
                <li class="list-inline-item"><a href="Footer_Sitemap.html">Sitemap</a></li>
                <li class="list-inline-item"><a href="Footer_Privacy_Policy.html" class="active">Privacy Policy</a></li>
                <li class="list-inline-item"><a href="Footer_Terms_and_Conditions.html">Terms and Conditions</a></li>
                <li class="list-inline-item"><a href="Footer_Support.html">Support</a></li>
            </ul>
        </div>

        <div class="footer__all">
            <p class="website__rights">
                Dragonlady Loaning System is regulated by the Bangko Sentral ng Pilipinas
                with contact number (+632) 8708-7087 and with email address dragonlady@bsp.gov.ph.
                For concerns, contact us thru our 24x7 hotline (+632) 8631-8000 or email
                us via callcenter@dlls.com.ph.
            </p>
        </div>

        <!--Logo and Rights-->
        <section class="logo__rights">
            <div class="logo__rights--wrap">
                <!--Logo-->
                <div class="footer__logo">
                    <a id="footer__logo">DRAGONLADY</a>
                </div>
                <!--Rights-->
                <p class="website__rights1">
                    Dragonlady Loaning System © 2020. All Rights Reserved.
                </p>
            </div>
        </section>
    </div>

    <script src="{% static 'JS/Footer_Privacy_Policy_Javascript.js' %}"></script>
</body>

</html>